data/instances/
data/orders_instances/
data/instances_cost/
data/gantts/
results/controlled_orders/test/l/
results/controlled_orders/test/m/
__pycache__/
*.out
*.err
*.whl
.DS_Store
gnrs_rj_env/
logs/